:root {
    --primaryColor: #ef3f3f;
    --secondaryColor: #040404;
    --fontFamily: mazzardh, Arial;
}

html {
    font-size: 62.5%;
    user-select: none;
}

body {
    font-size: 16px;
    font-family: var(--fontFamily);
    font-weight: 400;
    text-align: center;
    line-height: 1.5;
    background: var(--secondaryColor);
    color: #fff;
}

img {
    width: 100%;
    height: auto;
}

p {
    color: #818181;
}

a,
a:hover {
    color: var(--primaryColor);
    text-decoration: none;
    cursor: pointer;
}

.p-tb {
    padding: 5rem 0;
}

.hide {
    display: none;
}

/*parallax*/

html,
body {
    overflow: hidden;
}

.background {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
    will-change: transform;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    height: 130vh;
    position: fixed;
    width: 100%;
    -webkit-transform: translateY(30vh);
    transform: translateY(30vh);
    -webkit-transition: all 1.2s cubic-bezier(0.22, 0.44, 0, 1);
    transition: all 1.2s cubic-bezier(0.22, 0.44, 0, 1);
    display: grid;
    grid-template-columns: 5% 90% 5%;
}

.intro,
.home,
.works,
.services {
    grid-column: 2;
}

.background:first-child {
    background-image: url(../images/bg1.webp);
    background-size: contain;
    -webkit-transform: translateY(-15vh);
    transform: translateY(-15vh);
}

.background:first-child .content-wrapper {
    -webkit-transform: translateY(15vh);
    transform: translateY(15vh);
}

.background:nth-child(2) {
    background-image: url(../images/bg.jpg);
    background-size: cover;
}

.background:nth-child(3) {
    background: var(--secondaryColor);
}

/* Set stacking context of slides */
.background:nth-child(1) {
    z-index: 3;
}

.background:nth-child(2) {
    z-index: 2;
}

.background:nth-child(3) {
    z-index: 1;
}

.content-wrapper {
    height: 100vh;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-flow: column nowrap;
    color: #fff;
    -webkit-transform: translateY(40vh);
    transform: translateY(40vh);
    will-change: transform;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: all 1.7s cubic-bezier(0.22, 0.44, 0, 1);
    transition: all 1.7s cubic-bezier(0.22, 0.44, 0, 1);
}

.content-title,
.content-subtitle {
    font-size: 2.8rem;
    font-weight: 800;
    /*text-shadow: 4px 1px 1px var(--primaryColor);*/
    line-height: 1.4;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-image: url(../images/wave.svg);
    background-position-x: 0;
    background-position-y: 55%;
    background-repeat: repeat-x;
    -webkit-text-fill-color: rgba(0, 0, 0, 0);
    position: relative;
    animation: wave 6s linear infinite;
}

.content-subtitle {
    font-size: 1.6rem;
    font-weight: 600;
    background-image: url(../images/wave2.svg);
    background-position-y: 35%;
    -webkit-text-fill-color: transparent;
    animation: wave2 12s linear infinite;
}

@keyframes wave {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: -430px;
    }
}

@keyframes wave2 {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: -860px;
    }
}

.background.up-scroll {
    -webkit-transform: translate3d(0, -15vh, 0);
    transform: translate3d(0, -15vh, 0);
}

.background.up-scroll .content-wrapper {
    -webkit-transform: translateY(15vh);
    transform: translateY(15vh);
}

.background.up-scroll+.background {
    -webkit-transform: translate3d(0, 30vh, 0);
    transform: translate3d(0, 30vh, 0);
}

.background.up-scroll+.background .content-wrapper {
    -webkit-transform: translateY(30vh);
    transform: translateY(30vh);
}

.background.down-scroll {
    -webkit-transform: translate3d(0, -130vh, 0);
    transform: translate3d(0, -130vh, 0);
}

.background.down-scroll .content-wrapper {
    -webkit-transform: translateY(40vh);
    transform: translateY(40vh);
}

.background.down-scroll+.background:not(.down-scroll) {
    -webkit-transform: translate3d(0, -15vh, 0);
    transform: translate3d(0, -15vh, 0);
}

.background.down-scroll+.background:not(.down-scroll) .content-wrapper {
    -webkit-transform: translateY(15vh);
    transform: translateY(15vh);
}

/*Header*/
.header .logo {
    width: 60%;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 0 10px;
    align-items: center;
    z-index: 99;
    transition: 0.6s;
}

.menuToggle {
    display: grid;
    grid-gap: 8px;
    order: 3;
}

.menuToggle span {
    display: grid;
    width: 35px;
    height: 3px;
    background: #fff;
    transition: 0.5s;
}

.menuToggle span:nth-child(1) {
    width: 25px;
    transform: translateX(10px);
}

.menuToggle.active span {
    background: var(--primaryColor);
}

.menuToggle.active span:nth-child(1) {
    width: 35px;
    transform: rotate(-45deg);
}

.menuToggle.active span:nth-child(2) {
    transform: translateY(-10px) rotate(45deg);
}

.social-icons {
    position: absolute;
    bottom: 20%;
    padding-left: 30px;
    color: #fff;
    transform: translateY(500px);
    animation: slideUp 1s ease-out forwards;
}

@keyframes slideUp {
    100% {
        transform: none;
    }
}

.header .navbar.active {
    width: 100%;
    height: calc(100% - 64px);
    position: fixed;
    top: 64px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondaryColor);
}

.header .navbar.active ul li a,
.header .navbar.active ul li a.active {
    font-size: 20px;
    color: #fff;
}

.header .navbar.active ul {
    flex-direction: column;
    grid-row-gap: 18px;
}

.navbar ul {
    display: flex;
    justify-content: center;
}

.navbar ul li {
    transform: translateY(-500px);
    animation: slideIn 1s ease-out forwards;
}

.navbar.active ul li {
    transform: translateX(500px);
}

.navbar ul li:nth-child(2) {
    animation-delay: 0.2s;
}

.navbar ul li:nth-child(3) {
    animation-delay: 0.3s;
}

.navbar ul li:nth-child(4) {
    animation-delay: 0.4s;
}

.navbar ul li:nth-child(5) {
    animation-delay: 0.5s;
}

.navbar ul li:nth-child(6) {
    animation-delay: 0.6s;
}

.navbar ul li:nth-child(7) {
    animation-delay: 0.7s;
}

@keyframes slideIn {
    100% {
        transform: none;
    }
}

.navbar ul li a,
.header .contact a,
.social-icons ul li a {
    display: block;
    margin-right: 20px;
    color: #fff;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.5s;
}

.social-icons ul li a {
    margin-top: 30px;
    margin-right: 0;
}

.header .contact a {
    font-size: 18px;
}

.header .contact a span {
    color: #9a9a9a;
    font-weight: normal;
    font-size: 14px;
    display: none;
}

.navbar ul li a:hover,
.social-icons ul li a:hover,
.header .contact a:hover {
    color: var(--primaryColor);
}

.navbar ul li a.active {
    color: var(--primaryColor);
}


/*intro section*/

.intro span.scroll-down {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 15px;
    background: #505050;
    animation: line linear infinite 2.5s 1.25s;
    z-index: 10;
}

.intro span.scroll-down::before {
    content: '';
    position: absolute;
    bottom: 54px;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 15px;
    background: #505050;
    animation: line linear infinite 2.5s;
}

.intro span.scroll-down::after {
    animation: zoom ease infinite 2.5s;
    content: "scroll down";
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 800;
    position: absolute;
    width: 150px;
    margin: 0 0 0 -75px;
    left: 50%;
    top: -27px;
    text-align: center;
}

@keyframes line {
    0% {
        box-shadow: none;
    }

    20% {
        box-shadow: inset 0 15px 0 0 #ef3f3f;
    }

    21% {
        box-shadow: inset 0 -15px 0 0 #ef3f3f;
    }

    50% {
        box-shadow: inset 0 0 0 0 #ef3f3f;
    }

    100% {
        box-shadow: inset 0 0 0 0 #ef3f3f;
    }
}

@keyframes zoom {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.12);
    }

    100% {
        transform: scale(1);
    }
}

/*home section*/

.home .content-wrapper {
    position: relative;
}

#w2 {
    position: fixed;
    top: 10vh;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
}

/*works section*/

.works {
    position: relative;
    width: 100%;
}

.works .work-slider {
    position: absolute;
    top: 34vh;
    left: 0;
    width: 100%;
}

.works .work-slider .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease-in-out 0.5s;
}

.works .work-slider .slide.active {
    opacity: 1;
}

.work-slider .slide .content-area {
    text-align: left;
    margin-bottom: 20px;
    display: grid;
    grid-row-gap: 10px;
}

.slide .content-area .title {
    font-size: 28px;
    font-weight: 700;
}

.slide .content-area .title::before {
    content: "";
    position: absolute;
    left: 0;
    top: -6px;
    width: 30px;
    height: 1px;
    background: red;
}

.slide .content-area .link {
    font-size: 11px;
    color: var(--primaryColor);
    letter-spacing: 3px;
}

.slide .content-area .keywords p {
    color: #cdcdcd;
    font-size: 13px;
}

.slide .image-container {
    width: 90%;
    margin: auto;
    position: relative;
}

.slide .image-container .slide-no {
    position: absolute;
    bottom: -62px;
    right: 0;
    font-size: 4rem;
    font-weight: 700;
    color: var(--primaryColor);
}

.slide .image-container img {
    box-shadow: 0 0 0 7px #494949, 0px 4px 25px 0 rgba(20, 20, 20, .6);
}

.works .controls {
    position: absolute;
    bottom: 35vh;
    left: 0px;
    display: grid;
    grid-gap: 18px;
}

.works .controls a {
    color: #fff;
    letter-spacing: 2px;
    font-size: 14px;
    font-weight: 600;
}

.works .controls a:hover {
    color: var(--primaryColor);
}

.works .controls i {
    font-size: 18px;
    color: var(--primaryColor);
    cursor: pointer;
}

#w3 {
    position: absolute;
    top: 12%;
    left: -470px;
    height: 100vh;
    width: 90vw;
    z-index: -1;
}

#prev,
#next {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: start;
    grid-column-gap: 15px;
}

/*services section*/
.services-wrap {
    background: #101010
}

#w4 {
    position: absolute;
    top: 55%;
    left: 0;
    right: 0;
    width: 100%;
    max-height: 889px;
    transform: translateY(-50%);
    display: none;
    z-index: -1;
}


/*Desktop view*/
@media (min-width: 991px) {
    html {
        font-size: 77%;
    }

    .p-tb {
        padding: 10rem 0;
    }

    .hide {
        display: grid;
    }

    .header {
        width: 100%;
        grid-template-columns: 1fr 3fr 1fr;
        padding: 0 30px;
    }

    .menuToggle {
        display: none;
    }

    .header .contact a span {
        display: inline-block;
    }

    .background {
        grid-template-columns: 10% 80% 10%;
    }

    .content-title {
        font-size: 6rem;
        font-weight: 800;
        margin-bottom: 20px;
    }

    .intro .content-title {
        font-size: 8rem;
    }

    .works .work-slider .slide {
        display: grid;
        grid-template-columns: 2fr 5fr;
        grid-column-gap: 4rem;
    }

    .works .controls {
        bottom: 28vh;
        grid-template-columns: auto auto;
        grid-gap: 40px;
    }

    .slide .image-container .slide-no {
        top: -62px;
        right: -86px;
        font-size: 7rem;
        font-weight: 800;
    }

    .slide .image-container .mob-view {
        position: absolute;
        top: 66px;
        transform: translateX(400px);
        right: 55px;
        transition: 1s ease-out;
    }

    .slide.active .image-container .mob-view {
        right: 55px;
        transform: translateX(0px);
    }

    .slide .image-container .mob-view img {
        box-shadow: none;
        position: absolute;
    }

    .mob-view img:nth-child(1) {
        width: auto;
    }

    .mob-view img:nth-child(2) {
        width: 190px;
        left: -8px;
        top: -8px;
    }
}